{% extends 'base.html' %}
{% block content %}

<!-- Hero Section -->
<section 
    class="hero position-relative text-center d-flex flex-column justify-content-center align-items-center" 
    style="background-image: url('https://i.ibb.co/M2QnhqV/Love-Kitchen.png'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 40vh;">
    
    <!-- Overlay -->
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(4, 1, 48, 0.5);"></div>
    
    <div class="hero_text_container mb-4 position-relative">
        <ul class="list-unstyled hero_text">
            <li>
                <h1 class="fs-3 fw-bold text-white">Know About Us</h1>
            </li>
        </ul>
    </div>
</section>

<!-- Portfolio Detail Section -->
<div class="container mt-5">
    <div class="row">
       
        
        <!-- Portfolio Details -->
        <div class="col-md-6">
            <h1>About LLB Africa</h1>
            <p>
                Live.Love.Believe (Love Africa), founded in 2012, operates as a non-profit organisation based in Barkley West, South Africa. 
                We are dedicated to the sustainable development of our communities, including the protection of the environment. 
                Recognizing the correlation between the environment, energy, education, and health, these factors often drive socio-economic 
                and environmental degradation.
            </p>
            <p>
                As a non-profit organization, Love Africa conceptualizes, promotes, and participates in projects that drive sustainable 
                socio-economic development, education, and digital inclusion. Our quest is co-creative, aiming to empower communities 
                through innovative, practical, and sustainable solutions aligned with the sustainable development goals.
            </p>
        </div>

         <!-- Portfolio Image -->
         <div class="col-md-6">
            <img src="https://i.ibb.co/St1JV5L/court.jpg" class="img-fluid" alt="{{ item.title }}">
        </div>
       
    </div>
</div>
<br><br>
 <!-- Call To Action Section -->
 <section id="call-to-action" class="call-to-action section dark-background">
  
    <div class="container">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-9 text-center text-xl-start">
          <h3>Our Vision</h3>
          <p>A robust circular economy with reduced or no environmental harm, in which innovation and sustainable development thrive with the efficient management of resources, for the benefit of youth and the environment providing a better quality of life for communities.</p>
        </div>
       
      </div>

    </div>

  </section><!-- /Call To Action Section -->


<!-- Portfolio Detail Section -->
<div class="container mt-5">
    <div class="row">
        <!-- Portfolio Image -->
        <div class="col-md-6">
            <img src="https://i.ibb.co/80hJPHY/logo.png" class="img-fluid" alt="{{ item.title }}">
        </div>
        
        <!-- Portfolio Details -->
        <div class="col-md-6">
            <h1>Our Mission</h1>
            <p>
                Love Africa focuses on sustainable development of communities and youths. As an organisation LLB Africa supports youths 
                to be actively involved in the innovation, design, and implementation of solutions to the issues faced by communities.
            </p>

             <ul>
                <li>As a non-profit organization, Love Africa:</li>
                <li><i class="bi bi-check2-circle"></i> <span>Working together to influence social, economic, and environmental systems</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Improving and building sustainable capabilities of the youth, predominantly women.</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Increase access to knowledge, skills development, and educational opportunities</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Promote participation in sustainable community development projects, driving socio economic development efforts to address myriad of challenges facing the youth.</span></li>
              </ul>

        </div>
    </div>
</div>

 <!-- Call To Action Section -->
 <section id="call-to-action" class="call-to-action section dark-background" style="background-color: rgba(4, 1, 48, 0.5)" >
  
    <div class="container"  >

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-9 text-center text-xl-start">
          <h3>Our Values</h3>
          <p>In addition to our values, embedded in our organisation name, the below are values we embody when dealing with all our clients:</p>
       
          <ul>
            
            <li><i class="bi bi-check2-circle"></i> <span> Sustainability</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Community Focus</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Knowledge & skills sharing</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Humanity</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Love</span></li>
          </ul>
        </div>
       
      </div>

    </div>

  </section><!-- /Call To Action Section -->

  <!-- Portfolio Detail Section -->
<div class="container mt-5">
    <div class="row">
       
        <!-- Portfolio Details -->
        <div class="col-md-6">
            <h1>Our Approach</h1>
            <p>
                Our approach engages with communities to understand the culture and environment in which they live or work.
                We engage and work with different stakeholders in our efforts towards the following universal goals:
            </p>

             <ul>
                <li>As a non-profit organization, Love Africa:</li>
                <li><i class="bi bi-check2-circle"></i> <span>Sustainable access to clean energy</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Quality education</span></li>
                <li><i class="bi bi-check2-circle"></i> <span>Environmental conservation</span></li>
                <li><i class="bi bi-check2-circle"></i> <span> Sustainability Zero Hunger</span></li>
              </ul>

        </div>
         <!-- Portfolio Image -->
         <div class="col-md-6">
            <img src="https://i.ibb.co/1ztdr8j/l-1.png" class="img-fluid" alt="{{ item.title }}">
        </div>
        
    </div>
</div>

<section class="py-5 bg-light">
    <div class="text-center mb-4">
      <h2 class="h4 fw-semibold text-dark">Who contributed to us?</h2>
      <p class="text-muted">The following organisations contributed their 100% support to help with our projects.</p>
    </div>
    <div class="d-flex justify-content-center gap-4 flex-wrap">
      <img class="img-fluid" style="height: 64px;" src="https://i.ibb.co/23dJ1Pf/5.png" alt="De Beers Group of Companies" />
      <img class="img-fluid" style="height: 64px;" src="https://i.ibb.co/px5zbcr/2.png" alt="BOVUA Holdings" />
      <img class="img-fluid" style="height: 64px;" src="https://i.ibb.co/RSy3gSL/1.png" alt="National Lotteries Commission Lotto Funded" />
      <img class="img-fluid" style="height: 64px;" src="https://i.ibb.co/F4V6f79/4.png" alt="Letsatsi Borutho Trust" />
      
    </div>
  </section>
  

{% endblock %}
